.parallax-wrapper {
  z-index: 1;
  position: relative;
}

.parallax-el {
  position: absolute;
    zoom: 0.6;
}

.zi0 {
  z-index: 0;
}

.zi2 {
  z-index: 2;
}

.tr1 {
  left: 30%;
  top: 10%;
}

.tr2 {
  top: 48%;
  left: 0;
}

.tr3 {
  right: 0;
  top: 0;
  z-index: 302;
}

.tr4 {
  left: 75%;
  top: 38%;
}

.tr5 {
  left: 60%;
  top: 20%;
}

.tr6 {
  right: 3%;
  top: 34%;
}

.tr7 {
  left: 65%;
  top: 12%;
}

.tr8 {
  left: 55%;
  top: 56%;
}

.tr9 {
  left: 62%;
  top: 38%;
}

.tr10 {
  left: 12%;
  top: 40%;
}

.tr11 {
  left: 18%;
  top: 20%;
}

.tr12 {
  right: 0;
  top: 40%;
}

.tr13 {
  left: 9%;
  top: 13%;
}

.tr14 {
  left: 25%;
  top: 40%;
}

.tr15 {
  left: 45%;
  top: 34%;
}

.tr16 {
  left: 38%;
  top: 59%;
}

.tr17 {
  left: 45%;
  top: 20%;
}

.tr18 {
  left: 28%;
  top: 75%;
}

.tr19 {
  left: 49%;
  top: 70%;
}

.tr20 {
  left: 12%;
  top: 83%;
}

.tr21 {
  right: 20%;
  top: 70%;
}

.tr22 {
  right: 0;
  top: 75%;
}

@media screen and (max-width: 767px) {
  .tr3 {
    display: none;
  }
}