@charset "UTF-8";


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	font-size: 16px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/loader.gif') center no-repeat #fff;
}


/*  GENERAL  */

section {
	position: relative;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    padding: 4vh 4vw 4vh 2vw;
}

.section-wrapper {
    border: 1px solid #fff;
	min-height: calc(100vh - 8vh);

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.violet-bg {
	outline: none;
	background: #561563;
}

.grey-bg {
	outline: none;
	background: #212121;
}

.lg-bg {
	background: #fff;
}

.lg-bg .section-wrapper {
	border-color: rgba(0, 0, 0, 0.35);
}

.bold {
	font-weight: bold;
}

.read-only {
	display: none;
}

a {
	outline: none;
}

/*  HEADER  */

header {
	position: fixed;
	z-index: 10;
	top: 65vh;
	left: 25px;
	margin-top: 0;
}

header .logo-mini {
	padding-right: 15px;
    margin-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.35);
}

header .logo-mini.logo-mini a {
    display: block;
    font-size: 0;
    color: transparent;
    width: 32px;
    height: 32px;
    background: url(../img/dino-verde.png) no-repeat 0 0 transparent;
    background-size: 100%;
    -webkit-transform: translate(25%,0%) rotate(-90deg);
    transform: translate(25%,0%) rotate(-90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

header nav {
	position: fixed;
	top: 27%;
	right: 2.5em;
	-webkit-transform: translate(50%,-50%) rotate(90deg);
	transform: translate(50%,-50%) rotate(90deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	z-index: 50;
	margin: 0;
}

header li {
	list-style: none;
	margin: 0 5px;
	display: inline-block;
	vertical-align: bottom;
	-webkit-transition: .3s;
	transition: .3s;
}

header li:first-of-type {
	margin-left: 0;
	border-left: 0;
	padding-left: 0;
}

header li:after {
	content: '';
	display: block;
	opacity: 0;
}

header .active a {
	color: #ffffff!important;
	background: #32bcbb;
	display: block;
}

header a,
header a:active,
header a:hover,
header a:visited,
header a:focus {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .3s;
	transition: .3s;
	text-decoration: none;
	display: block;
	line-height: 35px;
	padding: 0 10px;
}

header .lg-menu li {
	border-color: #fff;
}

header .lg-menu li a {
	color: #fff;
}


/*  jumbotron  */

.logo {
	text-align: center;
}

.logo h1 {
	background: url(../img/logo.png) no-repeat 0 0 transparent;
	background-size: 100%;
	font-size: 0;
	color: transparent;
	width: 600px;
	height: 85px;
	display: block;
	margin: 0 auto 15px;
}

/* Services & About */

.info-section {
	padding: 4vh 11vw;
}

.info-section.service-section {
	padding: 4vh 10vw 4vh 25vw;
}

.info-section h2 {
	font-family: gobold_boldregular,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
	font-size: 45px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 3px;
	margin-bottom: 35px;
}

.info-section li {
	list-style: none;
}

.info-section p {
	font-size: 15px;
	line-height: 180%;
}

.services li {
	margin: 30px 0 0;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.services p {
	margin-left: 30px;
	padding-right: 25px;
}

.services i {
	font-size: 40px;
	color: #a77bb6;
}

.about p {
	margin-top: 30px;
}

.dinos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-top: 15px;
}

.dinos li {
	margin-right: 25px;
	zoom: 0.7;
}


/* Contact */

.contact h2,
.contact p {
	color: #fff;
}

.contact .form-wrapper {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
}

.contact p {
	margin-top: 20px;
}

.contact .col-left {
	width: 50%;
}

.contact .col-right {
	width: 55%;
	margin-left: 5%;
}

.contact form {
	margin-top: 20px;
}

.contact .success {
    color: #abdedd;
    margin-bottom: 20px;
}

.contact .error {
    color: #ff8080;
    margin-bottom: 20px;
}

.error-input {
    border: 1px solid #ef8484;
    border-bottom: 4px solid #ef8484;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 0 15px;
    line-height: 45px;
    margin-bottom: 20px;
    border: 1px solid #656565;
    border-bottom: 4px solid #656565;
    color: #c7c7c7;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    font-size: 15px;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    transition: .3s;
}

textarea {
	height: 150px;
	resize: none;
}

input[type="submit"] {
	font-family: gobold_boldregular,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 3px;
	float: right;
	line-height: 50px;
	display: block;
	border: 0;
	padding: 0 30px;
	background: #32bcbb;
	color: #fff;
	cursor: pointer;
	outline: none;
	border-bottom: 2px solid #0e8c8b;
	-webkit-appearance: none;
	border-radius: 0;
}

/* Footer */

footer {
	padding: 3vh 3.5vw 3vh 2vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

footer p {
	margin: 0;
}

footer img {    
	height: 25px;
	width: auto;
	margin-left: 5px;
}

@media screen and (max-width: 991px) {

	header {
		top: 0;
		left: 0;
		right: 0;
		padding: 15px;
		background: #fff;
	}

	header h1 {
		position: static;
	}

	header nav {
		-webkit-transform: unset;
		transform: unset;
		-webkit-transform-origin: unset;
		transform-origin: unset;
		float: none;
		display: none;
	}

	header nav.open {
		position: fixed;
		top: 62px;
		left: 0;
		right: 0;
		background: white;
		padding: 15px;
	}

	header li {
	    margin: 5px 0;
	    border: 0;
	    padding: 0;
	    display: block;
	}

	header li a {
		font-size: 1.6em;
		display: block;
		padding: 5px 0;
	}
	
	.menu-mobile {
		display: block;
	}
	
	#hamburger-icon {
		width: 30px;
		height: 30px;
		position: relative;
		display: block;
		margin: 0;
		overflow: hidden;
		float: right;
		outline: none;
		box-shadow: none;
	}

	#hamburger-icon .line {
		display: block;
		background: #9e519e;
		width: 30px;
		height: 5px;
		position: absolute;
		left: 0;
		border-radius: 5px;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
	}

	#hamburger-icon .line.line-1 {
		top: 0;
	}

	#hamburger-icon .line.line-2 {
		top: 30%;
	}

	#hamburger-icon .line.line-3 {
		top: 61%;
	}

	#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
	  transform: translateY(-4px);
	  -webkit-transform: translateY(-4px);
	  -moz-transform: translateY(-4px);
	}

	#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
	  transform: translateY(4px);
	  -webkit-transform: translateY(4px);
	  -moz-transform: translateY(4px);
	}

	#hamburger-icon.active .line-1 {
	  transform: translateY(25px) translateX(0) rotate(45deg);
	  -webkit-transform: translateY(25px) translateX(0) rotate(45deg);
	  -moz-transform: translateY(25px) translateX(0) rotate(45deg);
	  top: -15px;
	}

	#hamburger-icon.active .line-2 {
	  opacity: 0;
	}

	#hamburger-icon.active .line-3 {
	  transform: translateY(-25px) translateX(0) rotate(-45deg);
	  -webkit-transform: translateY(-25px) translateX(0) rotate(-45deg);
	  -moz-transform: translateY(-25px) translateX(0) rotate(-45deg);
	  top: 35px;
	}
}

.stopscroll{
    position: fixed;
        top: 10px;
}

@media screen and (max-width: 767px) {
	.hide-mobile {
		display: none;
	}

	.logo h1 {
		width: 290px;
		height: 40px;
	}

	section,
	.d-height {
		padding: 80px 15px 35px;
	}

	.info-section h2 {
		text-align: center;
		margin-bottom: 35px;
	}

	.services li {
		display: block;
		text-align: center;
		margin: 0 0 40px 0;
	}

	.services i {
		margin: 0 0 15px 0;
	}

	.services p,
	.about p {
		width: 100%;
		margin: 0;
		text-align: center;
	}
	
	.contact .form-wrapper {
		display: block;
	}

	.contact .col-left,
	.contact .col-right {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	input[type="submit"] {
		float: none;
		width: 100%;
	}
}


@media screen and (max-width: 991px) {

	header .logo-mini {
		padding-right: 0;
		margin-right: 0;
		border-right: none;
		display: inline-block;
	}

	header .logo-mini.logo-mini a {
		-webkit-transform: none;
		transform: none;
		-webkit-transform-origin: unset;
		transform-origin: unset;
	}

	header li.logo-mini.logo-mini {
		display: none;
	}

	header a, 
	header a:active, 
	header a:hover, 
	header a:visited, 
	header a:focus {
		color: #333!important;
	}

	header .active a {
	    background: transparent!important;
	}

	.d-height,
	.d-height .section-wrapper {
		min-height: unset;
	}

	.services li {
		width: 100%;
	}

	.section-wrapper {
		border: 0;
	}

	.info-section {
	    padding: 0;
	    width: 100%;
	}

	.info-section.service-section {
		padding: 0;
	}
}


@media screen and (min-width:992px) && (max-width: 1199px) {

	section, 	
	.d-height {
	    padding: 70px 40px 35px;
	}
}